body {
    background-image: url("yup.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

h3 {
    font-size: 3em;
    color:goldenrod
}

p {
    font-size: 2em;
}

div {
    text-align: center;
}